[Unit]
Description=transaq clickhouse exporter
After=network.target

[Service]
ExecStart=/usr/bin/clickhouse-exporter
KillMode=process
KillSignal=SIGTERM
TimeoutStopSec=5min
Environment=CLICKHOUSE_URL=clickhouse://default:passwd@127.0.0.1:9000/default
Environment=TC_LOGIN=FZTC01307A
Environment=TC_PASSWORD=password
Environment=TC_HOST=tr1.finam.ru
Environment=TC_PORT=3900
Environment=TC_TARGET=127.0.0.1:50051
Environment=LOG_LEVEL=INFO
Environment=EXPORT_SEC_INFO_NAMES=МТС
Environment=EXPORT_SEC_BOARDS=TQBR,TQTF,FUT
Environment=EXPORT_ALL_TRADES=positions,MTH5,MTZ4,AKMM,LQDT,SBMM,TGLD,AMNY,TRUR,BCSD,AMNR,TPAY,AFKS,AFLT,AGRO,ALRS,ASTR,BSPB,CBOM,CHMF,ENPG,FEES,FLOT,GAZP,GMKN,HYDR,IRAO,LEAS,LKOH,MAGN,MGNT,MOEX,MSNG,MTLR,MTLRP,MTSS,NLMK,NVTK,OZON,PHOR,PIKK,PLZL,POSI,ROSN,RTKM,RUAL,SBER,SBERP,SELG,SMLT,SNGS,SNGSP,TATN,TATNP,TCSG,TRNFP,UPRO,VKCO,VTBR,YDEX

[Install]
WantedBy=multi-user.target